* {
	box-sizing: border-box;
	margin: 0;
  padding: 0;
}

#main{
  display: inline-block;
  outline: 0px;
  margin: 50px 25%;
  width: 50%;
  min-width: 300px;
  font-size: 25px;
  position: absolute;
  line-height: 35px;

}

#users{
  position: fixed;
  top: 20px;
  left: 20px;
}

.caret{
  display: inline-block;
  background-color: tomato;
  width: 2px;
  height: 15px;
  position: relative;
  user-select: none;
}

.userLabel{
  position: absolute;
  font-size: 0.5em;
  left: -50%;
  top: -150%;
  user-select: none;
}
